<div class="footer-wrapper">
  <div class="footer-column">
    <a class="hdr-logo-link" href="{{site.url}}" rel="home">
      <img src="http://localhost/wp-content/uploads/2018/07/SquarePet-logo.png" alt="SquarePet Logo">
    </a>
  </div>
  <div class="footer-column">
    <p><a href="http://rockcandymedia.com">Powered by Rock Candy Media</a></p>
    <p><a href="#">Privacy Policy</a></p>
  </div>
  <div class="footer-column-social">
  <ul>
    <li>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </li>
  </ul>
  </div>
</div>
{# Copyright {{"now"|date('Y')}} #}